{% block content %} 
<div class="btn1">
    <h1>Categorical Data</h1>
    <p> this type of data is known as non-numerical data, it describes categories or groups. There are two sub-types that fall into this type of data:</p>
    <a href="/nominal"><button><h1>Nominal</h1></button></a>
    <a href="/ordinal"><button><h1>Ordinal</h1></button></a>
</div>

<style>
    	body {
			height: 100vh; /* Set body height to 100% of viewport height */
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
            background-color: lightgreen; /* Set the background color */

		}
		.button-container {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
		}
		.btn1 {
			margin: 0 300px; /* Add 300px margin between buttons */
			padding: 10px 20px;
			border: none;
			text-align: center;
			text-decoration: none;
			display: inline-block;
		}

</style>
{% endblock %}