{% block content %} 
<div>
    <h1>Categorical Nominal Data</h1>
    <p> this type of qualitative data groups variables into categories and doesn’t have any numerical value but can still be represented as numbers. Here are some examples</p>
    <ul>
        <li>Gender</li>
        <li>Names</li>
        <li>Hair Color</li>
        <li>Nationalities</li>
        <li>Marital Status</li>
      </ul>
      
</div>

<style>
    	body {
			height: 100vh; /* Set body height to 100% of viewport height */
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
            background-color: rgb(181, 232, 241); /* Set the background color */

		}
		
</style>
{% endblock %}