{% block content %} 
<div>
    <h1>Categorical Ordinal Data</h1>
    <p> this type of qualitative data groups variables into ordered categories, hierarchies if you will. We use ordinal data to gather useful information on a subject that is being researched or looked into. Here are some examples
    </p>
    <ul>
        <li>Economic Status</li>
        <li>Education Level</li>
        <li>Customer Service</li>
        <li>Competition Rank</li>
      </ul>
      <div class="btn">
        <a href="/visuals"><button>Visuals</button></a>
    </div>
</div>


<style>
    	body {
			height: 100vh; /* Set body height to 100% of viewport height */
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
            background-color: rgb(181, 232, 241); /* Set the background color */

		}

        .btn{
            display: flex;
            height: 130px;
            justify-content: center;
            align-items: center;
            }
		
</style>
{% endblock %}